@font-face {
    font-family: 'Rubik';
    src: url('../images/RubikLight.woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik' !important;
}

a{
    color: black;
}

body{
    background: #F8FDFE;
}

nav{
    display: flex;
    padding: 10px;
    background: #0863D8;
    color: white;
    margin-bottom: 30px;
}

.navbarLeft{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;
}

.navbarRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    padding-right: 135px;
}

.navbarRight > * > a{
    background: #2F80ED;
    border-radius: 6px;
    padding: 10px 30px;
    color: white;
}

.navLink > *{
    color: white;
}

.defClass{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    margin-bottom: 100px;
}

.defClass > *{
    width: 30%;
    margin: auto;
    margin-top: 40px;
    height: 370px;
}

.defClassCardContent{
    text-align: center;
    height: 300px;
    border-radius: 10px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.defClassCardContent::after{
    position: absolute;
    z-index: -1;
    content: '';
    width: 80%;
    height: 100px;
    bottom: 10px;
    left: 10%;
    background: #0863D8;
    filter: blur(100px);
    border-radius: 10px;
}

.roomNumCard{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    font-size: 40px;
    color: #DDDDDD;
    padding: 30px 40px 20px 40px;
    background: rgba(0, 96, 119, 0.02);
    backdrop-filter: blur(29px);
    width: 60%;
    margin: auto;
}

.toBook{
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
}

.formReserv{
    display: flex;
    flex-direction: column;
}

.formReserv > *{
    margin: 10px 0;
    width: 80%;
}