.modalContentInfo{
    display: flex;
}

.modalContentInfo > *{
    width: 50%;
}

.modalContentInfo > * > img{
    border-radius: 10px;
}

.modalContentInfo > * > h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 400;

    color: #0165C3;

}