.selectClassContent{
    padding: 190px 120px 120px 100px;
    width: 100%;
    text-align: center;
    background-image: url('../images/img1.png');
    background-size: cover;
}

.formStart{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
    margin-top: 75px;
}

.formStart > *{
    width: 25%;
    margin: 15px;
}

.formStart > a{
    background: #0863D8;
    padding: 25px 75px;
    color: white;
    border: 1px #0863D8 solid;
    transition: all 0.3s ease;
}

.formStart > a:hover{
    background: white;
    color: #0863D8;
}

.multiSelectContainer{
    max-width: 25%;
}

.firstTitle{
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    margin-bottom: 30px;
    color: white;
}

.selectClassDesc{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
}