.myModal{
    position: fixed;
    top: -1000px;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    transition: top 0.5s ease;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModalContent{
    position: relative;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    background: linear-gradient(200.05deg, #E4F7FF 13.37%, rgba(228, 247, 255, 1) 84.4%);
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 14px 4px #19BCE4);
    border-radius: 60px;
}

.myModal.active{
    top: 0px;
}

.myModalContent > img{
    position: absolute;
    top: 40px;
    right: 40px;
}